.allure

#IDEA Files
.idea
target
*.iml
*.ipr

#Eclipse files
*.settings
*.classpath
*.project
*.pydevproject

# Maven
target/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
*.iml
.idea/
*.class


